html,
body {	
	padding: 0px;
	margin: 0px;
	background-color: black;
}

ul {
	padding: 15px;
	margin-left: 15px;
	list-style: none;
}

	.cabecera .logo {

	text-align: center;
	padding-top: 2%;

}

.cabecera .datos {
	font-size: 0px;
	padding: 10px;
	background-image: linear-gradient(to right, white 0%, black 80%)
	
}
.cabecera .datos .datos_contacto li{
	font-size: 2%;
	color: white;
	width: 20%;
	display: inline-block;
}

.cabecera .menu {
	display: flex;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 0px;
}

.cabecera .menu li {	
	padding: 20px;
	width: 150px;
}

a {
	color: white;
	font-size: 20px;
	font-family: 'Cormorant SC', serif;
}

a:hover {
	color: blue;
}

.relleno {
	margin: 20px;
	padding: 20px;
	text-align: center;	
	color: white;
}

h1 {
	padding: 20px;
	color: white;
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	font-weight: initial;
	text-align: center;
}

.nosotros {
	ont-family: 'Edu QLD Beginner', cursive;
	font-size: 20px;
}

h3 {
	
	color: white;
	font-family: 'Edu QLD Beginner', cursive;
	font-size: 30px;	
}

.ayuda {
	font-family: 'Edu QLD Beginner', cursive;
	font-size: 20px;
}

p {
	font-family: 'Edu QLD Beginner', cursive;
	font-size: 40px;
}

.boton {
	font-family: 'Edu QLD Beginner', cursive;
	font-size: 10px;
}

h2 {
	color: white;
	font-family: 'Edu QLD Beginner', cursive;
	font-size: 30px;
}

.formulario {
	font-family: 'Edu QLD Beginner', cursive;
	font-size: 25px;
	text-align: center;
	color: white;
	padding: 20px;
}

.form {
	padding: 20px;
}

.division {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.fotos {
	text-align: center;
}

.pie {
	paddin: 20px;
	display: flex;
	justify-content: center;
}


@media (max-width: 480px) {
	h1 {
		font-size: 30px;
	}

	p {
		font-size: 15px;
	}

	.formulario {
		font-size: 15px;
	}

	.relleno {
		font-size: 25px;
	}
}



